#side-bar{
    background-color:#14110F;
}

#pro-img{
    background-color: #14110F;
}

#navItemSec{
    display:flex;
    background-color: #14110F;
}
#navItem2{
    background-color: #14110F;
    align-items: center;
}
#proIMG{
    background-color: #14110F;
}

#projectBtn{
    background-color: #2191FB;
    color:white;
    border: none;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#aboutBtn{
    background-color: #BA274A;
    color: white;
    border: none;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#contactBtn{
    background-color:#4B7F52;
    color:white;
    border: none;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#skills-sec h1{
    padding-top:2%;
    padding-bottom:2%;
    text-decoration: underline;
    display:flex;
    justify-content: center;
}

#icon-sec {
    display:flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

#my-projects {
    margin:0;
    padding: 2%;
    text-decoration: underline;
    display:flex;
    justify-content: center;
}

#about {
    margin: 0;
    display:flex;
    justify-content: center;
    text-decoration: underline;
}

#section-2 .p {
    display:flex;
    justify-content: center;
}

#contact-sec {
    display:flex;
    justify-content: center;
    text-decoration: underline;

}

#contact-form {
    display:flex;
    justify-content: center;
    margin-bottom: 5px;
}

#img-mask {
    margin:0;
    padding:0;
    position: relative;
    text-align: center;
    width: 100%;
}

#titleText {
    z-index: 10;
    color: white;
    background-color: black;
    padding:10px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 75%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
}
